/RemoteCtrl/.vs/RemoteCtrl/v17/.suo
/RemoteCtrl/.vs/RemoteCtrl/v17/Browse.VC.db
/RemoteCtrl/.vs/RemoteCtrl/v17/ipch/409f8eed71045062.ipch
/RemoteCtrl/.vs/RemoteCtrl/v17/ipch/60fc9c59932a8690.ipch
/RemoteCtrl/RemoteCtrl/*.user
/RemoteCtrl/.vs/RemoteCtrl/v17/*.db
/RemoteCtrl/.vs/RemoteCtrl/v17/*.db-shm
/RemoteCtrl/.vs/RemoteCtrl/v17/Browse.VC.db-wal
/RemoteCtrl/.vs/RemoteCtrl/v17/Browse.VC.opendb
/RemoteCtrl/.vs/RemoteCtrl/v17/Solution.VC.db-wal
/RemoteCtrl/RemoteClient/x64
/RemoteCtrl/RemoteCtrl/x64/Debug
/RemoteCtrl/x64/Debug
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/77cc45cc-d684-4996-ba3f-e2efbd373642.vsidx
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/b9d2e592-f314-427a-963c-e0522d91628b.vsidx
/.vs/sturdy-engine/v16
/.vs
/RemoteCtrl/.vs/RemoteCtrl/v17
/singleinstance
RemoteCtrl/.vs/
/RemoteCtrl/RemoteCtrl/Debug
/RemoteCtrl/RemoteClient/Debug
/RemoteCtrl/Debug
